extends layout

block content
	h1= title
	div
		each category in categories
			div
				a(href="/category/"+ category._id.toHexString()) #{category.name}
		br
		br
		a(href="/category/new")!= "Add New Category"
		br
		a(href="/")!= "Back to News"
