extends layout

block content
	div
		h1= news.title
		br
		p= news.description

	div
		
	div
		form(method="POST")
			span.label Insert Your Comment :
			textarea(name="content")
			input(type="submit", value="Add Comment")